{% extends "base.html" %}
{% block body %}
<gcds-container size="lg" border padding="400" centered>
  <span class="font-bold">{{_("Attention")}}:&nbsp;</span>
  <span>{{_("This service is being tested. Do not share protected data.")}}</span>
</gcds-container>
<gcds-container id="generate-div" size="lg" padding="400" margin="200" centered>
  <h4 class="mb-400">{{_("Paste a password, secret message or private link below.")}}</h4>
  <p class="mb-400">{{_("Keep sensitive info out of your email and chat logs.")}}</p>
  <gcds-textarea textarea-id="secret" placeholder="{{_('Secret content goes here...')}}">
  </gcds-textarea>
  <gcds-fieldset fieldset-id="fieldset">
    <gcds-input input-id="optional_pass" label="{{_('Optional password')}}" placeholder="{{_('Password')}}">
    </gcds-input>
    <gcds-select select-id="ttl" label="{{_('Lifetime')}}" default-value="1 {{_('hour')}}">
      <option value="604800">7 {{_("days")}}</option>
      <option value="259200">3 {{_("days")}}</option>
      <option value="86400">1 {{_("day")}}</option>
      <option value="43200">12 {{_("hours")}}</option>
      <option value="14400">4 {{_("hours")}}</option>
      <option value="3600" selected="">1 {{_("hour")}}</option>
      <option value="1800">30 {{_("minutes")}}</option>
      <option value="300">5 {{_("minutes")}}</option>
    </gcds-select>
    <gcds-button id="generate-btn">
      {{_("Create a secret link")}}
    </gcds-button>
  </gcds-fieldset>
</gcds-container>

<gcds-container class="d-none" id="link-div" size="lg" padding="400" margin="200" centered>
  <gcds-input input-id="link" label="{{_('Share this link:')}}" aria-label="{{_('Secret link')}}">
  </gcds-input>
  <p class="mb-400">
    <span class="text-base">{{_("Expires at")}}&nbsp;</span>
    <span id="expires-in" class="text-base"></span>
  </p>
  <gcds-button id="burn-btn" button-role="danger">
    {{_("Burn this secret")}}
  </gcds-button>
</gcds-container>
{% endblock %}