{% extends "base.html" %}
{% block body %}
<div class="flex bg-yellow-200 border-l-4 border-yellow-400 p-4 items-center justify-center m-auto w-2/3" role="alert">
  <span class="font-bold">{{_("Attention")}}:&nbsp;</span>
  <span>{{_("This service is being tested. Do not share protected data.")}}</span>
</div>
<div id="generate-div" class="p-4 text-black bg-white rounded-md shadow-md m-auto w-2/3">
  <div class="flex items-center justify-center">
    <span class="text-xl font-semibold">{{_("Paste a password, secret message or private link below.")}}</span>
  </div>
  <div class="flex items-center justify-center">
    <span class="text-base">{{_("Keep sensitive info out of your email and chat logs.")}}</span>
  </div>
  <hr class="m-4" />
  <div class="grid grid-cols-2 gap-4 max-w-xl m-auto">

    <div class="col-span-2">
      <textarea cols="30" rows="4" class="border-solid border-gray-300 border-2 p-3 md:text-xl w-full"
        placeholder="{{_("Secret content goes here...")}}" id="secret"></textarea>
    </div>

    <div class="col-span-2">
      <fieldset class="border-solid border-gray-300 border-2 p-3">
        <legend class="p-2 text-base">{{_("Options")}}</legend>
        <div class="mb-2">
          <label class="block text-gray-700 text-sm font-normal mb-2" for="optional_pass">
            {{_("Optional password")}}
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
            type="text" placeholder="{{_("Password")}}" name="optional_pass" id="optional_pass"/>
        </div>
        <div class="mb-3">
          <label class="block text-gray-700 text-sm font-normal mb-2" for="ttl">
            {{_("Lifetime")}}
          </label>
          <select id="ttl" name="ttl"
            class="shadow border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline">
            <option value="604800">7 {{_("days")}}</option>
            <option value="259200">3 {{_("days")}}</option>
            <option value="86400">1 {{_("day")}}</option>
            <option value="43200">12 {{_("hours")}}</option>
            <option value="14400">4 {{_("hours")}}</option>
            <option value="3600" selected="">1 {{_("hour")}}</option>
            <option value="1800">30 {{_("minutes")}}</option>
            <option value="300">5 {{_("minutes")}}</option>
          </select>
        </div>
      </fieldset>
    </div>

    <div class="col-span-2">
      <button id="generate-btn" class="py-3 px-6 bg-black text-white font-bold w-full mb-6">
        {{_("Create a secret link")}}
      </button>
    </div>

  </div>
</div>

<div id="link-div" class="p-4 text-black bg-white rounded-md shadow-md m-auto w-2/3 hidden">
  <div class="flex items-center justify-left mb-4">
    <span class="text-xl font-semibold">{{_("Share this link:")}}</span>
  </div>

  <div class="grid grid-cols-2 gap-4 max-w-auto ">
    <div class="col-span-2">
      <input
        id = "link"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
        type="text" name="link" readonly/>
    </div>

    <div class="col-span-2">
      <div class="flex items-center justify-left">
        <span class="text-base">{{_("Expires at")}}&nbsp;</span>
        <span id="expires-in" class="text-base"></span>
      </div>
    </div>

    <div class="col-span-2">
      <button id="burn-btn" class="py-3 px-6 bg-red-600 text-white font-bold w-full mb-6">
        {{_("Burn this secret")}}
      </button>
    </div>

  </div>
</div>
{% endblock %}