{% extends "base.html" %}
{% block body %}
<gcds-container size="lg" border padding="400" centered>
  <span class="font-bold">{{_("Attention")}}:&nbsp;</span>
  <span>{{_("This service is being tested. Do not share protected data.")}}</span>
</gcds-container>

<gcds-container id="confirm-div" size="lg" padding="400" margin="200" centered>
  <h4 class="mb-400">{{_("Click \"View Secret\" to continue")}}</h4>
  <p class="mb-400">{{_("Careful: We will only show it once.")}}</p>
  <gcds-button id="view-btn">
    {{_("View secret")}}
  </gcds-button>
</gcds-container>

<gcds-container class="d-none" id="404-div" size="lg" padding="400" margin="200" centered>
  <h4 class="mb-400">{{_("Your secret does not exist")}}</h4>
  <p class="mb-400">{{_("Either the link is wrong or the secret has expired.")}}</p>
</gcds-container>

<gcds-container class="d-none" id="secret-div" size="lg" padding="400" margin="200" centered>
  <h4 class="mb-400">{{_("This message is for you:")}}</h4>
  <p class="mb-400">{{_("Careful: We will only show it once.")}}</p>
  <gcds-textarea textarea-id="secret"></gcds-textarea>
  <gcds-container id="decrypt-warning" class="d-none" size="md">
    <span class="font-bold">{{_("Attention")}}:&nbsp;</span>
    <span>{{_("It looks like your message has been encrypted with an additional password. Please enter it below to fully
      decrypt the message.")}}</span>
  </gcds-container>
  <gcds-fieldset fieldset-id="fieldset" class="mt-400">
    <gcds-input input-id="optional_pass" label="{{_('Optional password')}}" placeholder="{{_('Password')}}">
    </gcds-input>
  </gcds-fieldset>
  <gcds-button id="decrypt-btn">
    {{_("Decrypt message with password")}}
  </gcds-button>
</gcds-container>
{% endblock %}