version: '3'

services:
  dynamodb-local:
    command: "-jar DynamoDBLocal.jar -sharedDb -dbPath ./data"
    image: "amazon/dynamodb-local:latest@sha256:d89f8fcc6b1a39cb35976c248ed42a28c66ae00dc043099210f5571e42648ab4"
    container_name: dynamodb-local
    ports:
      - "9000:8000"
    volumes:
      - "./docker/dynamodb:/home/dynamodblocal/data"
    working_dir: /home/dynamodblocal

  local-kms:
    image: "nsmithuk/local-kms@sha256:aeb41a840eb501c5c3a1574fcb888ed04be7004a296e816bc656030c40e8b85d"
    container_name: local-kms
    ports:
      - "8080:8080"
    volumes:
      - "./docker/kms/data:/data"
      - "./docker/kms/init:/init"
    environment:
      KMS_REGION: "ca-central-1"

  app:
    depends_on:
      - dynamodb-local
      - local-kms
    image: "mcr.microsoft.com/devcontainers/go:1-1.21-bullseye@sha256:d7a51293c5f6526ac8c3e6fe41f567067d05311f644cd6bdc19355f952dc0776"
    volumes:
      - ..:/workspace:cached
    command: sleep infinity
    environment:
      AWS_ACCESS_KEY_ID: 'AWSACCESSKEYID'
      AWS_SECRET_ACCESS_KEY: 'AWSSECRETACCESSKEY'
      SHELL: /bin/zsh
      ENVIRONMENT: 'dev'