name: "CI Lambda"

on:
  pull_request:

defaults:
  run:
    shell: bash

jobs:
  go-tests:
    if: github.ref != 'refs/heads/main'
    runs-on: ubuntu-latest
    container: golang:1.25.6@sha256:ce63a16e0f7063787ebb4eb28e72d477b00b4726f79874b3205a965ffd797ab2

    services:
      dynamodb-local:
        image: "amazon/dynamodb-local@sha256:d89f8fcc6b1a39cb35976c248ed42a28c66ae00dc043099210f5571e42648ab4"
        ports:
          - 8000:8000

      local-kms:
        image: nsmithuk/local-kms@sha256:e070866476b20973a9e23a9b636204b7a222e4169a6e03198d27b80d47ed28e3
        ports:
          - "8080:8080"
        volumes:
          - "${{ github.workspace }}/.devcontainer/docker/kms/data:/data/"
          - "${{ github.workspace }}/.devcontainer/docker/kms/init:/init/"
        env:
          KMS_REGION: "ca-central-1"

    steps:
      - name: Checkout
        uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0

      - name: Restart local-kms
        # Restart local-kms after volumes have been checked out
        # https://github.com/orgs/community/discussions/42127
        uses: docker://docker@sha256:68f6d9ab84623d1116c5432a3b924a07ee09960e6129ca1cb03ef14010588cb4
        with:
          args: docker restart "${{ job.services.local-kms.id }}"

      - name: Install dependencies
        run: go get .

      - name: Test
        run: make test
        env:
          AWS_ACCESS_KEY_ID: "AWSACCESSKEYID"
          AWS_SECRET_ACCESS_KEY: "AWSSECRETACCESSKEY"
