name: "CI Terraform"

on:
  pull_request:
    paths:
      - "aws/**"
      - "terragrunt/**"
      - ".github/workflows/pull_requests_terraform.yml"

defaults:
  run:
    shell: bash

permissions:
  id-token: write
  pull-requests: write
  contents: read

env:
  AWS_REGION: ca-central-1
  CONFTEST_VERSION: 0.27.0
  TERRAFORM_VERSION: 0.13.5
  TERRAGRUNT_VERSION: 0.26.0
  TF_VAR_git_sha: abcdefgh

jobs:
  terraform-plan:
    if: github.ref != 'refs/heads/main'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0

      - name: Setup Terraform tools
        uses: cds-snc/terraform-tools-setup@5a19984bcb888600ad646e0caf5c6f4d0a54c165 # v1.2.0

      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a # v4.3.1
        with:
          role-to-assume: arn:aws:iam::637287734259:role/secret-plan
          role-session-name: TFPlan
          aws-region: ${{ env.AWS_REGION }}

      - name: Plan aws/acm
        uses: cds-snc/terraform-plan@39b0058bcf977fbd8b067b84d5a9f6165e356c32 # v3.7.0
        with:
          comment-delete: true
          comment-title: Plan for aws/acm
          directory: ./terragrunt/acm
          github-token: ${{ secrets.GITHUB_TOKEN }}
          terragrunt: true

      - name: Plan aws/ecr
        uses: cds-snc/terraform-plan@39b0058bcf977fbd8b067b84d5a9f6165e356c32 # v3.7.0
        with:
          comment-delete: true
          comment-title: Plan for aws/ecr
          directory: ./terragrunt/ecr
          github-token: ${{ secrets.GITHUB_TOKEN }}
          terragrunt: true

      - name: Plan aws/lambda
        uses: cds-snc/terraform-plan@39b0058bcf977fbd8b067b84d5a9f6165e356c32 # v3.7.0
        with:
          comment-delete: true
          comment-title: Plan for aws/lambda
          directory: ./terragrunt/lambda
          github-token: ${{ secrets.GITHUB_TOKEN }}
          terragrunt: true
